# Build artifacts
windows/x64/*
windows/win32/*
x64/*
win32/*
.vs/*
linux/target
linux/pkg
linux/*.pkg.tar.*

SetupProject/bin
SetupProject/obj

clients/go/*.exe
clients/go/debug

# Visual Studio files
*.pdb
*.ncb
*.ilk
*.aps
*.suo
*.sdf
*.vcxproj.user

# Windows
Thumbs.db

