# Build artifacts
RemoteShutdown/x64/*
RemoteShutdown/win32/*
x64/*
win32/*
.vs/*

clients/go/*.exe
clients/go/debug

# Visual Studio files
*.pdb
*.ncb
*.ilk
*.aps
*.suo
*.sdf
*.vcxproj.user

# Windows
Thumbs.db