[Unit]
Description=Remote Shutdown of System
Requires=network.target
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/remote-shutdown
LoadCredentialEncrypted=remote-shutdown-secret:/etc/credstore.encrypted/remote-shutdown
ExecStart=/usr/bin/remote-shutdown
Restart=on-failure

# Security settings
CapabilityBoundingSet=CAP_SYS_BOOT
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service @reboot

PrivateDevices=true
PrivateTmp=true
PrivateUsers=full

ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true

# Resource Limits
Nice=10
CPUSchedulingPolicy=idle
CPUQuota=5%
IOSchedulingClass=idle
MemoryMax=20M

[Install]
WantedBy=multi-user.target
